<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/public/assets/css/style.css" />
		<title>Pong Game</title>
	</head>
	<body class="bg-white min-h-screen flex flex-col"></body>
		<%- include('../partials/header.ejs') %>
		<div id="app" class="flex-grow flex justify-center items-center"></div>
			<!-- Dynamic content goes here -->
		</div>

		<script src="/public/client/app/main.js" type="module"></script>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
